h1 {
    text-align: center;
    color: #007bff;
    margin-bottom: 30px;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    padding: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    color: #6c757d;
    font-size: 0.9rem;
    margin-top: 30px;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #007bff;
    color: white;
}
label {
    font-size: x-large;
}
input {
    font-size: x-large;
    display: flex;
    justify-content: center;
}

.movie-card {
    margin: 15px 0;
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.movie-title {
    color: #007bff;
    font-weight: 600;
    font-size: 1.5rem;
}

.section {
    margin: 20px auto;
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}

.section-title {
    font-weight: 600;
    font-size: 1.2rem;
    color: #007bff;
    margin-bottom: 10px;
}

.section-content {
    font-size: 1rem;
    padding-left: 10px;
}

.section-divider {
    border-bottom: 2px solid #f2f2f2;
    margin: 15px 0;
}

.login-box {
    margin: auto;
    padding: 100px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
}

.container {
    text-align: center;
    margin-top: 1%;
}

.btn-custom {
    width: 250px;
    padding: 10px;
    font-size: 1.1rem;
    border-radius: 5px;
    margin: 5px;
}

.card {
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: white;
}
.navbar {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
}
.logout-btn {
    margin: 0 auto;
}
.movie-list-btn {
    margin: 0 auto;
}
.main-btn {
    margin: 0 auto;
}
.checkout-btn {
    margin: 0 auto;
}

.login-error-message {
    padding: 20px;
    text-align: center;
}

.btn-logout {
    background-color: #ff0000;
    border-color: #ff0000;
}

.btn-logout:hover {
    background-color: #d90000;
    border-color: #d90000;
}
.btn-movie-list {
    background-color: #00e066;
    border-color: #00e066;
}
.btn-movie-list:hover {
    background-color: #00b854;
    border-color: #00b854;
}
.btn-checkout {
    background-color: #ff8800;
    border-color: #ff8800;
}
.btn-checkout:hover {
    background-color: #cc6d00;
    border-color: #cc6d00;
}

.form-group label {
    font-weight: 600;
}
.submenu {
    margin-bottom: 20px;
}

.submenu a {
    margin: 0 5px;
    cursor: pointer;
    text-decoration: none;
    color: #007bff;
}

.submenu a:hover {
    text-decoration: underline;
}



/*.btn-logout:focus {*/
/*    outline:0;*/
/*    box-shadow:0 0 0 .2rem rgba(255,123,0,.25);*/
/*}*/

